<div class="sn-progress-bar-panel">
  <ul class="sn-progress-steps">
    <li
      *ngFor="let checkoutStep of checkoutSteps"
      [ngClass]="{
        'sn-progress-active': checkoutStep.step === step,
        'sn-progress-complete': checkoutStep.step < step
      }"
    >
      <ng-container *ngIf="checkoutStepLink(checkoutStep.step); else noLink">
        <a [routerLink]="checkoutStep.link">
          <div class="sn-progress-number"><fa-icon [icon]="['fas', 'check']"></fa-icon></div>
          <span class="sn-progress-label"> {{ checkoutStep.labelKey | translate }} </span>
        </a>
      </ng-container>
      <ng-template #noLink>
        <div class="sn-progress-number">{{ checkoutStep.stepKey | translate }}</div>
        <span class="sn-progress-label"> {{ checkoutStep.labelKey | translate }} </span>
      </ng-template>
    </li>
  </ul>
</div>
