///////////////////////////////////////////////////////////////////////////////
//
// THEME SPECIFIC CONFIGURATION
//
///////////////////////////////////////////////////////////////////////////////

// set theme specific variables
@import 'variables';

// import general main theme
@import '../../main';

// customizations
.violator-banner-block {
  text-align: center;
  color: $color-inverse;
  background-color: $color-dark;
  padding: 15px 16px;
  a {
    color: $color-inverse;
    text-decoration: underline;
  }
}
